.body-content {
    padding-top: 50px;
}

.col-centered {
    float: none;
    margin: 0 auto;
    min-height: calc(100vh - 80px); /* height of footer */
}

.btn-info {
    background-color: #4189C7 !important; /* bootstrap inverse default */
    border-color: #4189C7 !important;
}

.footer {
    background-color: #222; /* bootstrap default navbar-inverse color */
    border-color: #080808; /* bootstrap inverse default */
    color: #9d9d9d; /* boot strap inverse default */
    height: 80px; /* height of footer */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    /*.body-content {
        padding-top: 50px;
    }
}*/
