.bottom-padding {
    padding-bottom: 1em;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.popup-success {
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 10px 5px rgb(160, 219, 160);
    top: 20%;
    left: 25%;
    padding: 1.5em;
    width: 50%;
}

.popup-danger {
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 10px 5px lightcoral;
    top: 20%;
    left: 25%;
    padding: 1.5em;
    width: 50%;
}

.notif-form {
    margin-top: -0.5em;
}
