<h2>Create a Carpool</h2>
<div class="bottom-padding">
    <form>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id">
        </div>
        <div class="form-group">
            <label for="driver">Driver</label>
            <input type="text" class="form-control" id="driver">
        </div>
        <div class="form-group">
            <label for="seats">Seats</label>
            <input type="number" class="form-control" id="seats">
        </div>
        <div class="form-group">
            <label for="car">Car Description</label>
            <textarea class="form-control" id="car"> </textarea>
        </div>
        <div class="form-group">
            <label for="start">Start</label>
            <select class="form-control" id="start">
                <option>Abbotsford</option>
                <option>Burnaby</option>
                <option>Coquitlam</option>
                <option>Langley</option>
                <option>Maple Ridge</option>
                <option>New Westminster</option>
                <option>North Vancouver</option>
                <option>Pitt Meadows</option>
                <option>Port Coquitlam</option>
                <option>Port Moody</option>
                <option>Richmond</option>
                <option>SFU Burnaby</option>
                <option>SFU Surrey</option>
                <option>SFU Vancouver</option>
                <option>Surrey</option>
                <option>Vancouver</option>
                <option>White Rock</option>
            </select>
        </div>
        <div class="form-group">
            <label for="destination">Destination</label>
            <select class="form-control" id="destination">
                <option>Abbotsford</option>
                <option>Burnaby</option>
                <option>Coquitlam</option>
                <option>Langley</option>
                <option>Maple Ridge</option>
                <option>New Westminster</option>
                <option>North Vancouver</option>
                <option>Pitt Meadows</option>
                <option>Port Coquitlam</option>
                <option>Port Moody</option>
                <option>Richmond</option>
                <option>SFU Burnaby</option>
                <option>SFU Surrey</option>
                <option>SFU Vancouver</option>
                <option>Surrey</option>
                <option>Vancouver</option>
                <option>White Rock</option>
            </select>
        </div>
        <div class="typeSelection">
            <label class="radio-inline">
                <input type="radio" name="carpoolType" data-toggle="collapse" data-target="#collapseOne" checked="" data-parent="#accordion" value="1">
                One-Time
            </label>
            <label class="radio-inline">
                <input type="radio" name="carpoolType" data-toggle="collapse" data-target="#collapseTwo" data-parent="#accordion" value="2">
                Weekly
            </label>
            <label class="radio-inline">
                <input type="radio" name="carpoolType" data-toggle="collapse" data-target="#collapseThree" data-parent="#accordion" value="3">
                Other
            </label>
    
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label" for="date">Date</label>
                                <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY HH:MM" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <textarea class="form-control" name="other" placeholder="Description" rows="3"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="radio-inline">
                                    <textarea class="form-control" name="other" placeholder="Description" rows="3"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="notes">Additional Details</label>
            <textarea class="form-control" id="notes"> </textarea>
        </div>
        <button type="submit" class="btn btn-success">Create Carpool</button>
    </form>
</div>
