<h2>View all Carpools</h2>
<div class="row">
    <form (ngSubmit)="onSubmit()" #search="ngForm">
        <div class="col-sm-4">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for driver"
                       [(ngModel)]="search.driver" name="driver" #driver="ngModel">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="campusMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select Day
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="campusMenu">
                    <li ng-click="setDay('Monday')"><a>Monday</a></li>
                    <li ng-click="setDay('Tuesday')"><a>Tuesday</a></li>
                    <li ng-click="setDay('Wednesday')"><a>Wednesday</a></li>
                    <li ng-click="setDay('Thursday')"><a>Thursday</a></li>
                    <li ng-click="setDay('Friday')"><a>Friday</a></li>
                    <li ng-click="setDay('Saturday')"><a>Saturday</a></li>
                    <li ng-click="setDay('Sunday')"><a>Sunday</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="input-group input-group-md">
                <span class="input-group-addon" id="sizing-addon1">Arrival Time</span>
                <input type="time" class="form-control" aria-describedby="sizing-addon1"
                       [(ngModel)]="search.date" name="date" #date="ngModel">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="campusMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Select Campus
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="campusMenu">
                    <li ng-click="setLocation('Burnaby')"><a>Burnaby</a></li>
                    <li ng-click="setLocation('Surrey')"><a>Surrey Central</a></li>
                    <li ng-click="setLocation('Vancouver')"><a>Harbour Centre</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>


        <!--<input [(ngModel)]="searchTerm" (ngModelChange)="search()" />
        <div *ngFor="let carpool of carpools">{{item.driver}}</div>-->

        <br />


        <div class="carpools">
            <div class="bs-callout bs-callout-default container-fluid"
                 *ngFor="let carpool of carpools | slice:0:5">
                <div class="profile col-sm-3">
                    <div class="row carpool-heading">Driver</div>
                    <div class="row">
                        <img src="https://t3.ftcdn.net/jpg/00/64/67/80/160_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg"
                             class="img-thumbnail img" alt="profile pic">
                    </div>
                    <div class="row carpool-comp-detail">
                        {{ carpool.driver }}


                    </div>
                </div>
                <div class="vehicle col-sm-3">
                    <div class="row carpool-heading">Vehicle</div>
                    <div class="row">
                        <img src="https://icdn-5.motor1.com/images/mgl/A2r49/s1/wcf-lada-classic-lada-21071.jpg"
                             class="img-thumbnail img" alt="vehicle pic">
                    </div>
                    <div class="row carpool-comp-detail">
                        {{ carpool.vehicle }}
                    </div>
                </div>
                <div class="details col-sm-6">
                    <div class="row carpool-heading">Carpool Details</div>
                    <div class="row carpool-details">
                        <div>
                            {{ carpool.campus }} Campus
                        </div>
                        <div>
                            Leaving on {{ carpool.datetime }}
                        </div>
                        <div [ngPlural]="carpool.seatsRemaining">
                            <ng-template ngPluralCase="=0">No seats</ng-template>
                            <ng-template ngPluralCase="=1">{{ carpool.seatsRemaining }} seat</ng-template>
                            <ng-template ngPluralCase="other">{{ carpool.seatsRemaining }} seats</ng-template>
                            remaining
                        </div>
                    </div>
                    <div class="row carpool-comp-detail">
                        <button class="btn btn-primary pull-right" [ngClass]="{'disabled': carpool.seatsRemaining == 0}">
                            Message Driver
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
