<h2>Latest Rides</h2>
<div class="carpools">
    <div class="bs-callout bs-callout-primary container-fluid"
         *ngFor="let carpool of carpools.reverse() | slice:0:5">
        <div class="profile col-sm-3">
            <div class="row carpool-heading">Driver</div>
            <div class="row">
                <img src="https://t3.ftcdn.net/jpg/00/64/67/80/160_F_64678017_zUpiZFjj04cnLri7oADnyMH0XBYyQghG.jpg"
                     class="img-thumbnail img" alt="profile pic">
            </div>
            <div class="row carpool-comp-detail">
                {{ carpool.driver }}
            </div>
        </div>
        <div class="vehicle col-sm-3">
            <div class="row carpool-heading">Vehicle</div>
            <div class="row">
                <img src="https://icdn-5.motor1.com/images/mgl/A2r49/s1/wcf-lada-classic-lada-21071.jpg"
                     class="img-thumbnail img" alt="vehicle pic">
            </div>
            <div class="row carpool-comp-detail">
                {{ carpool.carDescription }}
            </div>
        </div>
        <div class="details col-sm-6">
            <div class="row carpool-heading">Carpool Details</div>
            <div class="row carpool-details">
                <div>
                    <span class="glyphicon glyphicon-road"></span>&nbsp;&nbsp;{{ carpool.startLocation }}
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    {{ carpool.endLocation }} Campus
                </div>
                <div>
                    <span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;{{ carpool.weekDays.join(", ") }}
                </div>
                <div>
                    <span class="glyphicon glyphicon-time"></span>&nbsp;&nbsp;{{ carpool.time }}
                </div>
                <br>
                <div><b>Additional Details</b></div>
                <div *ngIf="carpool.additionalDetails">
                    {{ carpool.additionalDetails }}
                </div>
                <div *ngIf="!carpool.additionalDetails">
                    None
                </div>
                <br>
                <div><b>Seats</b></div>
                <div [ngPlural]="carpool.seats">
                    <ng-template ngPluralCase="=0">No seats</ng-template>
                    <ng-template ngPluralCase="=1">{{ carpool.seats }} seat</ng-template>
                    <ng-template ngPluralCase="other">{{ carpool.seats }} seats</ng-template>
                    remaining
                </div>
            </div>
            <div class="row carpool-comp-detail">
                <button class="btn btn-primary pull-right" [ngClass]="{'disabled': carpool.seats == 0}">
                    Message Driver</button>
            </div>
        </div>
    </div>
</div>