/* callouts are not in bootstrap for some reason
   https://cpratt.co/twitter-bootstrap-callout-css-styles/ */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

.img {
    display: none;
}

.carpool-heading {
    font-weight: bold;
    padding-bottom: 0em;
    padding-top: 1em;
    font-size: 1.2em;
}

.heading-first {
    padding-top: 0em !important;
}

.carpool-comp-detail {
    padding-top: 0em;
}

.carpool-details {
    height: 140px; /* same height as img */
}

@media (min-width: 768px) {
    .img {
        height: 140px;
        width: 140px;
        object-fit: cover;
        display: block;
    }

    .carpool-heading {
        padding-bottom: 1em;
    }

    .carpool-comp-detail {
        padding-top: 0.5em;
    }

    .heading-first {
        padding-top: 1em !important;
    }
}

.centered-modal.in {
    display: flex !important;
}

.centered-modal .modal-dialog {
    margin: auto;
}
